.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        input {
            display: none;
        }

        border: 2px solid black;
        padding: 0.3rem;
        width: 12rem;
        margin-bottom: 1rem;

        &:hover,
        &:active {
            cursor: pointer;
            background-color: #e7e6e6;
        }
    }
}

.upload_button {
    border: 2px solid black;
    width: 9rem;
    height: 3rem;
    background-color: #9af3ff;
    font-size: 1.5rem;

    &:hover,
    &:active {
        cursor: pointer;
        background-color: darken(#9af3ff, 10%);
    }
}